.tree-table-row-cell {
    -fx-cell-size: 24px;
}

.table-column {
    -fx-alignment: CENTER;
}

.tree-table-cell {
  -fx-alignment: CENTER-LEFT;
}

.registers_tree_column .label {
    -fx-alignment: CENTER-LEFT
}

.text-field.hex_value {
    -fx-padding: 4;
}

.memory_table .text-field {
    -fx-padding: 2;
}

.styled-text-area:has-caret .selection {
    -fx-fill: pink;
}